.customHeader {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: lightgray
}

.nav-link {
    text-decoration: none;
    color: gray;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.active {
    color: black;
}
