<div class="container">
  <div class="container-persoenlich">
    <div class="table-responsive">
      <table class="table text-dark table-striped">
        <tbody>
          <tr>
            <td>
              <img src="\assets\target.png" />
              <br />
              Sportschiessen
            </td>
            <td>
              Sportschiessen beim Arbeiterschützenbund
              Dübendorf 300m
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\code.png" />
              <br />
              Programmieren
            </td>
            <td>
              Websites, PlayStation 1 Spiel und kleinere
              Projekte wie Taschenrechner
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\snes.png" />
              <img src="\assets\ibm.png" />
              <br />
              Retro
            </td>
            <td>
              Sammeln von alten Konsolen wie Gameboy
              Classic oder Computern wie IBM 5170 AT
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\tarantula.png" />
              <br />
              Terraristik
            </td>
            <td>Haltung einer Vogelspinne</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
