<div class="container">
  <div class="container-persoenlich">
    <div class="table-responsive">
      <table class="table text-dark table-striped">
        <tbody>
          <tr>
            <td>
              <img src="\assets\ger-flag.png" />
              <br />
              Deutsch
            </td>
            <td>
              Muttersprache
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\en-flag.png" />
              <br />
              Englisch
            </td>
            <td>
              12 Jahre Schulkenntnisse, Zertifikat B2.2 mit Sprachaufenthalt in NYC
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\c.png" />
              <img src="\assets\c-sharp.svg" />
              <br />
              C/C#
            </td>
            <td>Grundkenntnisse</td>
          </tr>
          <tr>
            <td>
              <img src="\assets\html.png" />
              <img src="\assets\css.png" />
              <img src="\assets\js.png" />
              <img src="\assets\bootstrap.png" />
              <img src="\assets\angularjs.png" />
              <br />
              HTML/CSS/JavaScript + Framework Bootstrap und Angular
            </td>
            <td>Grundkenntnisse</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
