.container {
  display: flex;
  justify-content: center;
}

.container:nth-child(1) {
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 0px 20px 0px 20px;
}

.container:nth-child(1) img {
  height: 200px;
  transform: scaleX(-1);
}

@media only screen and (max-width: 600px) {
  .container:nth-child(1) img {
    height: 100px;
  }

  .container:nth-child(1) {
    width: 250px;
  }
}
