<div class="container">
  <div class="container-img">
    <img src="assets/FotoTransparent.png" />
  </div>
  <div class="container-persoenlich">
    <div class="table-responsive">
      <table class="table text-dark table-striped">
        <tbody>
          <tr>
            <td>
              <img src="\assets\me.png" />
              <br />
              Name
            </td>
            <td>Djikic, Sasa</td>
          </tr>
          <tr>
            <td>
              <img src="\assets\address.png" />
              <br />
              Adresse
            </td>
            <td>Oskar Bider-Strasse 8, 8600 D&uuml;bendorf</td>
          </tr>
          <tr>
            <td>
              <img src="\assets\phone.png" />
              <br />
              Nummer
            </td>
            <td>+41 79 197 52 85</td>
          </tr>
          <tr>
            <td>
              <img src="\assets\mail.png" />
              <br />
              Mail
            </td>
            <td>sasa.djikic@student.ipso.ch</td>
          </tr>
          <tr>
            <td>
              <img src="\assets\birthday.png" />
              <br />
              Geburtsdatum und Ort
            </td>
            <td>9. Juli 2001 in Kilchberg ZH</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
