.container {
  width: 100%;
  height: 100%;
  max-width: 90%;
}

.container-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-persoenlich {
  background-color: #ccd5ae;
  border-radius: 0px 20px 0px 20px;
  margin-top: 20px;
}

img {
  height: 300px;
  transform: scaleX(-1);
}

tr {
  border-bottom: solid 1px black;
  font-size: 1.2rem;
}

  tr img {
    height: 15%;
    width: 15%;
  }

@media only screen and (max-width: 600px) {
  img {
    height: 200px;
    transform: scaleX(-1);
  }

  td {
    font-size: 13px;
  }

  tr img {
    display: none;
  }

  .container-persoenlich {
    width: 300px;
  }
}
