<div class="container">
  <div class="table-responsive">
    <table class="table text-dark table-striped">
    <p class="mt-3 h3">Pers&ouml;nliche Daten</p>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Djikic, Sasa</td>
      </tr>
      <tr>
        <td>Adresse</td>
        <td>Oskar Bider-Strasse 8, 8600 D&uuml;bendorf</td>
      </tr>
      <tr>
        <td>Nummer</td>
        <td>+41 79 197 52 85</td>
      </tr>
      <tr>
        <td>Mail</td>
        <td>sasa.djikic@student.ipso.ch</td>
      </tr>
      <tr>
        <td>Geburtsdatum und Ort</td>
        <td>9. Juli 2001 in Kilchberg ZH</td>
      </tr>
    </tbody>
    </table>
    <img src="assets/FotoTransparent.png" />
  </div>
</div>
