<div class="sidebar">
  <a href="/Persoenlich">
    <div class="card py-2">
      <img class="card-img-top" src="/assets/user-solid.svg" alt="Card image cap">
      <h5 class="card-title mt-2">Persönlich</h5>
    </div>
  </a>
  <a href="/Bildung">
    <div class="card py-2">
      <img class="card-img-top" src="/assets/graduation-cap-solid.svg" alt="Card image cap">
      <h5 class="card-title mt-2">Bildung</h5>
    </div>
  </a>
  <a href="/Kentnisse">
    <div class="card py-2">
      <img class="card-img-top" src="/assets/book-solid.svg" alt="Card image cap">
      <h5 class="card-title mt-2">Sprach- und Softwarekentnisse</h5>
    </div>
  </a>
  <a href="/Freizeit">
    <div class="card py-2">
      <img class="card-img-top" src="/assets/spider-solid.svg" alt="Card image cap">
      <h5 class="card-title mt-2">Freizeit</h5>
    </div>
  </a>
  <a href="/Projekte">
    <div class="card py-2">
      <img class="card-img-top" src="/assets/laptop-code-solid.svg" alt="Card image cap">
      <h5 class="card-title mt-2">Projekte</h5>
    </div>
  </a>
</div>
