<div class="container">
  <div class="container-persoenlich">
    <div class="table-responsive">
      <table class="table text-dark table-striped">
        <tbody>
          <tr>
            <td>
              <img src="\assets\github.png" />
              <br />
              GitHub
            </td>
            <td>
              <a href="https://github.com/SasaDjikic">https://github.com/SasaDjikic</a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\website.png" />
              <br />
              Webseiten
            </td>
            <td>
              Portfolio Webseite, Fotografie Webseite für mein Bruder barkergraphy.com (demnächst)
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\fighter.png" />
              <br />
              Spiele
            </td>
            <td>
              3D Spaceship Spiel mit Unity (<a href="\assets\FranzInvaders.7z" download>download FranzInvaders.7z</a>), PS1 Spiel mit der
              PSY-Q SDK Entwicklungsumgebung (noch in der Anfangsphase)
            </td>
          </tr>
          <tr>
            <td>
              <img src="\assets\more.png" />
              <br />
              weitere Projekte
            </td>
            <td>
              Auf GitHub sind noch weitere Projektarbeiten und Hausaufgaben, die ich in Rahmen der Schule gemacht habe, ersichtlich
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
